<div class="container" *ngIf='connectionSent.length === 0'>
  <mat-card>
    <div class="col-md-8 offset-md-2">
      <p> You have not sent connections yet </p>
    </div>
  </mat-card>
</div>

<mat-card style="margin: 2px;" *ngFor="let contact of connectionSent">
  <mat-card-header>
    <img mat-card-avatar [src]="user.profileImage">
    <div class="contactStyle">
      <div class="givenName" >
        {{contact.givenName}}
      </div>
      <div class="familyName" >
        {{contact.familyName}}
      </div>
      <div class="controls">
        <button mat-icon-button (click)="deleteConnectionConfirmation(contact,modal)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  </mat-card-header>
</mat-card>


<ng-template #modal>
  <mat-dialog-content>
    <div>
      Are you sure you want to delete the sent request?
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align='center'>
    <button (click)="resetForm()" mat-raised-button color='warn'>Cancel
    </button>
    <button (click)="deleteConnection()" mat-raised-button cdkFocusInitial color='primary'>Yes
    </button>
  </mat-dialog-actions>
</ng-template>