<div class="container" *ngIf='pendingConnections.length === 0'>
    <mat-card>
        <div class="col-md-8 offset-md-2">
            <p> No connections requests </p>
        </div>
    </mat-card>
</div>
 
<mat-card style="margin: 2px;" *ngFor="let connection of pendingConnections">
    <mat-card-header>
        <img mat-card-avatar [src]="user.profileImage">
        <div class="contactStyle">
            <div class="givenName" (click)="onSelect(connection)">
                {{connection.givenName}}
            </div>
            <div class="familyName" (click)="onSelect(connection)">
                {{connection.familyName}}
            </div>
            <div class="controls" >
                <button class="simple-form-button" color="primary" mat-raised-button
                    (click)="approveUserConnection(connection)">
                    Confirm
                </button>
                &nbsp;
                <button class="simple-form-button" mat-raised-button (click)="ignoreSentConfirmation(connection,modal)">
                    Ignore
                </button>
            </div>
        </div>
    </mat-card-header>
</mat-card>


<ng-template #modal>
    <mat-dialog-content>
      <div>
        Are you sure you want to ignore this request?
      </div>
    </mat-dialog-content>
    <mat-dialog-actions align='center'>
      <button (click)="resetForm()" mat-raised-button color='warn'>Cancel
      </button>
      <button (click)="ignoreConnection()" mat-raised-button cdkFocusInitial color='primary'>Yes
      </button>
    </mat-dialog-actions>
  </ng-template>