<div class="container">
  <mat-card>
    <div class="col-md-8 offset-md-2">
      <div class="container">
        <mat-card>
          <div class="col-md-8 offset-md-2">
            <div>
              <p> your connections are </p>
              <ul>
                <li *ngFor="let friends of confirmedConnections" (click)="onSelect(friends)">
                  {{ friends }}
                  &nbsp; &nbsp;
                  <a href="{{link}}" target="_blank">view profile</a>
                  <br>
                  <br>
                </li>
              </ul>
            </div>
          </div>
        </mat-card>
      </div>