<div *ngIf="!organization" class="container" >
  <mat-card>
    You are not authorized to view this page.
  </mat-card>
</div>
<div *ngIf="organization" class="simple-form-aligner">
    <mat-card *ngIf="ready" class="simple-form-card">
      <form [formGroup]="form" (ngSubmit)="submit(form.value)">
        <mat-card-title> Update Organization </mat-card-title>
        <mat-card-content>
          <div class="profile-image">
            <img mat-card-lg-image class="img-class" [src]="organization.logo" alt='Profile Photo'>
            <div class="app-image-upload-positioner">
              <app-image-upload
                  (imageUploaded)="handleImageUpload($event)"
                  (imageError)="handleImageError()"
                  [imageUploadRoute]= "imageUploadRoute"
                  [id]="organization._id">
              </app-image-upload>  
            </div>
          </div>
          <div class="form-group">
            <mat-form-field class="simple-form-field-100">
              <input matInput placeholder="Organization Name" name="name" formControlName="name">
            </mat-form-field>
            <mat-form-field class="simple-form-field-100">
              <input matInput placeholder="Website" name="website" formControlName="website">
            </mat-form-field>
            <br>
            <mat-form-field class ="simple-form-field-100">
              <input matInput placeholder="Phone Number" name="phoneNumber" formControlName="phoneNumber">
            </mat-form-field>
            <br>
            <mat-form-field class="simple-form-field-100">
                <input matInput placeholder="Username" name="username" formControlName="username">
            </mat-form-field>
            <br>
            <button
                [disabled]="disableButton"
                class="simple-form-button" 
                color="primary" 
                mat-raised-button 
                type="submit" 
                value="submit">
              Save
            </button>
            <mat-progress-spinner
                *ngIf="waiting"
                color="primary"
                mode="indeterminate"
                class="simple-form-spinner"
                [diameter]=22>
            </mat-progress-spinner>
            <span 
                *ngIf='formErrorMessage' 
                class="text-error-color">
                {{formErrorMessage}}
            </span>
            <span *ngIf="submitSuccess"  class="successMessage">
                {{successMessage}}
            </span>
          </div>
        </mat-card-content>
      </form>
    </mat-card>
  </div>
  
  