.img-class{
  border-radius: 50%;
}

.organization-logo{
  width: 152px;
  height: 152px;
  margin:auto;
  position: relative;
  margin-bottom: 10px;

  .app-image-upload-positioner {
    position: absolute;
    right: 17px;
    top: 98px;
    width: 152px;
    padding-left: 64px;
    padding-right: 64px;
  }
}

.displayUsers {
  display:flex;
  margin-bottom: -24px;
}

.userImage {
  width:40px;
  height:40px;
  border-radius:50%;
  margin-top: 10px;
}

.username {
  margin-top: 19px;
  margin-left: 7px;
}

.removeIcon {
  font-size:16px;
  color: red;
  margin: 21px 4px;
  cursor: pointer;
}

.defaultLogo {
  border-radius: 50%;
  font-size: 10px;
  display: flex;
  background-color: lightgrey;
}