<div *ngIf='isViewAll'>
  <div class="container" *ngIf='contacts.length === 0'>
    <mat-card>
      <div class="col-md-8 offset-md-2">
        <p> You dont have contacts </p>
      </div>
    </mat-card>
  </div>
</div>

<div *ngIf='isViewAll'>
  <button color="primary" class="simple-form-button pull-right" mat-raised-button routerLink='/contacts/add'>
    +
  </button>
  <br>
  <br>
  <mat-card style="margin: 2px;" *ngFor="let contact of contacts">
    <mat-card-header>
      <img mat-card-avatar [src]="contact.contactImage">
      <div class="contactStyle">
        <div class="name" (click)="onSelect(contact)">
          {{contact.givenName}}
          &nbsp;
          {{contact.familyName}}
        </div>
        <div class="email" (click)="onSelect(contact)">
          {{contact.email}}
        </div>
        <div class="group" (click)="onSelect(contact)">
          {{contact.groupName}}
        </div>
        <div class="controls">
          <button mat-icon-button (click)="editContact(contact)">
            <mat-icon>create</mat-icon>
          </button> <button mat-icon-button (click)="contactDeleteDialog(modal)" (click)="openDeleteContact(contact)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </mat-card-header>
  </mat-card>
</div>
<br>


<ng-template #modal>
  <mat-dialog-content>
    <div>
      Are you sure you want to delete the contact of <br> {{deleteContactName}}?
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align='center'>
    <button (click)="resetForm()" mat-raised-button color='warn'>Cancel
    </button>
    <button (click)="deleteContact()" mat-raised-button cdkFocusInitial color='primary'>Yes
    </button>
  </mat-dialog-actions>
</ng-template>