<div *ngIf='!isEditMode'>
  <div class="container" *ngIf='allContacts.length === 0'>
    <mat-card>
      <div class="col-md-8 offset-md-2">
        <p> You dont have contacts </p>
      </div>
    </mat-card>
  </div>
</div>


<div *ngIf='isViewAll'>
    <button color="primary" class="simple-form-button pull-right" mat-raised-button
        routerLink='/contacts/add'>
      +
    </button>
    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
      </mat-form-field>
      
    <div *ngIf='allContacts.length > 0' >
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </td>
      </ng-container>
      <!-- givenName Column -->
      <ng-container matColumnDef="givenName">
        <th mat-header-cell *matHeaderCellDef> Given name</th>
        <td mat-cell *matCellDef="let element"> {{element.givenName}} </td>
      </ng-container>
      <!-- familyName Column -->
      <ng-container matColumnDef="familyName">
        <th mat-header-cell *matHeaderCellDef> Family name</th>
        <td mat-cell *matCellDef="let element"> {{element.familyName}} </td>
      </ng-container>
      <!-- email Column -->
      <ng-container matColumnDef="listName">
        <th mat-header-cell *matHeaderCellDef> List Name</th>
        <td mat-cell *matCellDef="let element"> {{element.listName}} </td>
      </ng-container>

       <!-- email Column -->
       <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email</th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>

      <ng-container matColumnDef="Action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button (click)="editContact(element)">
            <mat-icon>create</mat-icon>
          </button> <button mat-icon-button (click)="openDeleteContact(element)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
      </tr>
    </table>
    <br>
  </div>
</div>

<div *ngIf='isDelete' align='center'>
  <mat-card>
    <mat-card-title> Are you sure you want to delete this contact? </mat-card-title>
    <div >
    <button routerLink='/contacts/view' class="simple-form-button pull-center" color="Basic" mat-raised-button
      (click)="resetForm()"> 
      Cancel
    </button>
    &nbsp;
    &nbsp;
    <button routerLink='/contacts/view' class="simple-form-button pull-center" color="primary" mat-raised-button
      (click)="deleteContact()"> 
      Delete
    </button>
    </div>
  </mat-card>
</div>

 
<div class="simple-form-aligner" *ngIf='isEditMode'>
  <mat-card class="simple-form-card">
    <mat-card-title>Create contact </mat-card-title>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="submit(form.value)">
        <div class="form-group">
          <mat-form-field class="simple-form-field-50">
            <input matInput placeholder="Given name" name="givenName" formControlName="givenName">
          </mat-form-field>
          <mat-form-field class="simple-form-field-50">
            <input matInput placeholder="Family name" name="familyName" formControlName="familyName">
          </mat-form-field>
          <br>
          <mat-form-field class="simple-form-field-100">
            <input matInput placeholder="Email" name="email" formControlName="email">
            <mat-error>
              Not a valid email
            </mat-error>
          </mat-form-field>
          <br>
          <mat-form-field>
            <mat-select placeholder="Choose a list" name="contactList" formControlName="contactList">
              <mat-option *ngFor="let lst of lists" [value]="lst">
                {{lst.listName}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <br>
          <div style="text-align: center">
            <button [disabled]="waiting" class="simple-form-button" color="primary" mat-raised-button type="submit"
              value="submit" (click)="addContact(form.value)">
              Create
            </button>
            &nbsp;
            &nbsp;
            <button [disabled]="waiting" class="simple-form-button" color="Basic" mat-raised-button type="submit"
              value="submit" (click)="ignoreSaveContact()">
              Cancel
            </button>
          </div>
          <mat-progress-spinner *ngIf="waiting" color="primary" mode="indeterminate" class="simple-form-spinner"
            [diameter]=22>
          </mat-progress-spinner>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>


<div *ngIf='listAddMessage !== undefined'>
  <div *ngIf='!isEditMode'>
    <mat-card-title> {{listAddMessage}}</mat-card-title>
    <button routerLink='/contacts/view' class="simple-form-button" color="primary" mat-raised-button
      (click)="resetForm()">
      Ok
    </button>
  </div>
</div>