<div class="container">
  <mat-card>
    <div class="col-md-8 offset-md-2">
<p>
 Welcome {{user?.username}}  

<button  mat-button routerLink="/connection-requests"> 
  <mat-icon>person</mat-icon> {{pendingConnectionsCounter}}
</button>
<button  mat-button routerLink="/add-connections"> 
  <mat-icon>view_carousel</mat-icon> Add +
</button> 
</p>
<hr>
<div *ngIf="IsViewPending">
<br>
<p> your pending connections are </p>
<ul>
  <li *ngFor="let friends of pendedConnections" (click)="onSelect(friends)">
      <button
      class="simple-form-button"
      color="primary"
      mat-raised-button
      (click)="ApproveUserConnection(form.value)"
      >Confirm
      </button>
      &nbsp;
      <button
      class="simple-form-button"
      mat-raised-button
      (click)="IgnoreUserConnection(form.value)"
      >Ignore
      </button>
      &nbsp;
    {{ friends }}  
    &nbsp; &nbsp;
     <a href="{{link}}"  target="_blank">view profile</a>

    <br>
    <br>

  </li>
</ul>
</div>
<div *ngIf="IsViewConfirmed">
  <br>
  <p> your confirmed connections are </p>
  <ul>
    <li *ngFor="let friends of confirmedConnections" (click)="onSelect(friends)">
      <a href="{{link}}"  target="_blank"> {{ friends }} </a>
    </li>
  </ul>
  </div>
  <div *ngIf="IsAddUserRequest">
      <div class="simple-form-aligner">
          <mat-card class="simple-form-card">
  
    <br>
    <p> Search about user? </p>
    <mat-card-content>
      <form [formGroup]="form" >
        <div class="form-group">
          <mat-form-field class="simple-form-field-10">
            <input matInput placeholder="Username" name="username" formControlName="username">
          </mat-form-field>
          <br>
          <button
          class="simple-form-button"
          color="primary"
          mat-raised-button 
          (click)="SearchUserConnection(form.value)"
          >
        Search
      </button>
          
        
        </div>
      </form>
      
    </mat-card-content>
  </mat-card>
    </div>
    </div>

    
<div *ngIf="isUserAfterFound">
    <div class="simple-form-aligner">
        <mat-card class="simple-form-card">

  <br>
  <p> Add a user connections request </p>
  <mat-card-content>
    <form [formGroup]="form" >
      <div class="form-group">
        <mat-form-field class="simple-form-field-50">
          <input matInput placeholder="Given name" name="givenName" formControlName="givenName" readonly> 
        </mat-form-field>
        <mat-form-field class="simple-form-field-50">
          <input matInput placeholder="Family name" name="familyName" formControlName="familyName" readonly> 
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput placeholder="Username" name="username" formControlName="username" readonly>
        </mat-form-field>
        <br>
        <button
        disabled = {{isRequestSent}}
        class="simple-form-button"
        color="primary"
        mat-raised-button 
        (click)="RequestUserConnection(form.value)"
        >
      Request Connection
    </button>
        
      
      </div>
    </form>
    
  </mat-card-content>
</mat-card>
  </div>
</div>

</div>
</mat-card>
</div>