<div class="container">
    <mat-card>
      <div class="col-md-8 offset-md-2">
        <nav mat-tab-nav-bar>
            <a mat-tab-link [routerLink]="navLinks[0]" routerLinkActive #rla0="routerLinkActive" [active]="rla0.isActive">
              Connections 
            </a> 
            <a mat-tab-link [routerLink]="navLinks[1]" routerLinkActive #rla1="routerLinkActive" [active]="rla1.isActive">
              Requests &nbsp;&nbsp;&nbsp;
                <span matBadge="{{pendingConnectionsCounter}}" matBadgeOverlap="false" matBadgeColor="warn"> </span>
            </a>
            <a mat-tab-link [routerLink]="navLinks[2]" routerLinkActive #rla2="routerLinkActive" [active]="rla2.isActive">
              Sent 
            </a>
            <a mat-tab-link [routerLink]="navLinks[3]" routerLinkActive #rla3="routerLinkActive" [active]="rla3.isActive">
              Add 
            </a>
        </nav>
        <router-outlet></router-outlet>
      </div>
    </mat-card>
</div>

