<mat-card style="margin: 2px;">
  <mat-card-header>
    <img mat-card-avatar [src]="contactDetails.contactImage">
    <div class="contactStyle">
      <div class="name">
        {{contactDetails.givenName}}
        &nbsp;
        {{contactDetails.familyName}}
      </div>
      <div class="email">
        {{contactDetails.email}}
      </div>
      <div class="controls">
        <button mat-icon-button (click)="editContact()">
          <mat-icon>create</mat-icon>
        </button> <button mat-icon-button (click)="contactDeleteDialog(modal)" (click)="openDeleteContact()">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  </mat-card-header>
</mat-card>

<br>



<ng-template #modal>
  <mat-dialog-content>
    <div>
      Are you sure you want to delete the contact of <br> {{deleteContactName}}?
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align='center'>
    <button (click)="resetForm()" mat-raised-button color='warn'>Cancel
    </button>
    <button (click)="deleteContact()" mat-raised-button cdkFocusInitial color='primary'>Yes
    </button>
  </mat-dialog-actions>
</ng-template>