<div>
    <div class="simple-form-aligner">
      <mat-card class="simple-form-card">
        <form [formGroup]="form" (ngSubmit)="submit(form.value)">
          <mat-card-title>	Create Organisation </mat-card-title>
          <mat-card-content>
            <div class="form-group">
              <mat-form-field class="simple-form-field-100">
                <input matInput placeholder="Organisation Name" name="organisationName" formControlName="organisationName">
                <mat-error>Required</mat-error>
              </mat-form-field>
              <mat-form-field class="simple-form-field-100">
                <input matInput placeholder="Website" name="website" formControlName="website">
                <mat-error>Required</mat-error>
              </mat-form-field>
              <mat-form-field class="simple-form-field-100">
                <input matInput placeholder="Phone Number" name="phoneNumber" formControlName="phoneNumber">
                <mat-error>Required</mat-error>
              </mat-form-field>
              <mat-form-field class="simple-form-field-100">
                <input matInput placeholder="Organisation Username" name="orgUsername" formControlName="orgUsername">
                <mat-error>Required</mat-error>
              </mat-form-field>
              <section>
                <button
                    [disabled]='disableButton'
                    class="simple-form-button"
                    color="primary"
                    mat-raised-button
                    type="submit"
                    value="submit">
                  Create
                </button>
                <span 
                *ngIf='formErrorMessage'
                class="text-error-color">
              {{formErrorMessage}}
            </span>
                <mat-progress-spinner
                    *ngIf="waiting"
                    color="primary"
                    mode="indeterminate"
                    class="simple-form-spinner"
                    [diameter]=22>
                </mat-progress-spinner>
                <span 
                    *ngIf='success'>
                  Created Successfully
                </span>
              </section>
            </div>
          </mat-card-content>
        </form>
      </mat-card>
    </div>
  </div>