<div class="simple-form-aligner">
  <mat-card class="simple-form-card">
    <form [formGroup]="form" (ngSubmit)="submit(form.value)">
      <mat-card-title> Create Organization </mat-card-title>
      <mat-card-content>
        <div class="form-group">
          <mat-form-field class="simple-form-field-100">
            <input matInput placeholder="Organization Name" name="name" formControlName="name">
            <mat-error>Required</mat-error>
          </mat-form-field>
          <mat-form-field class="simple-form-field-100">
            <input matInput placeholder="Website" name="website" formControlName="website">
          </mat-form-field>
          <mat-form-field class="simple-form-field-100">
            <input matInput placeholder="Phone Number" name="phoneNumber" formControlName="phoneNumber">
          </mat-form-field>
          <mat-form-field class="simple-form-field-100">
            <input matInput placeholder="Organization Username" name="username" formControlName="username">
            <mat-error>{{usernameErrorMessage}}</mat-error>
          </mat-form-field>
          <section>
            <button [disabled]='disableButton' class="simple-form-button" color="primary" mat-raised-button
              type="submit" value="submit">
              Create
            </button>
            <span *ngIf='formErrorMessage' class="text-error-color">
              {{formErrorMessage}}
            </span>
            <mat-progress-spinner *ngIf="waiting" color="primary" mode="indeterminate" class="simple-form-spinner"
              [diameter]=22>
            </mat-progress-spinner>
          </section>
        </div>
      </mat-card-content>
    </form>
  </mat-card>
</div>