<div class="container">
  <mat-card>
    <div class="col-md-8 offset-md-2">
      <div *ngIf = 'pendingConnections.length === 0'>
         <p> You dont have no new connections </p>
      </div>
      <ul>
        <li *ngFor="let friend of pendingConnections">
          <button class="simple-form-button" color="primary" mat-raised-button (click)="approveUserConnection(friend)">Confirm
          </button>
          &nbsp;
          <button class="simple-form-button" mat-raised-button (click)="ignoreUserConnection(friend)">Ignore
          </button>
          &nbsp;
          {{ friend.givenName}}   &nbsp;{{ friend.familyName }}
          &nbsp; &nbsp;
          <br>
          <br>
        </li>
      </ul>
    </div>
    <br>
  </mat-card>
</div>