<div class="container">
  <mat-card>
    <div class="col-md-8 offset-md-2">
      <p> your pending connections are </p>
      <ul>
        <li *ngFor="let friend of pendingConnections">
          <button class="simple-form-button" color="primary" mat-raised-button (click)="approveUserConnection(form.value)">Confirm
          </button>
          &nbsp;
          <button class="simple-form-button" mat-raised-button (click)="ignoreUserConnection(friend)">Ignore
          </button>
          &nbsp;
          {{ friend.givenName}}   &nbsp;{{ friend.familyName }}
          &nbsp; &nbsp;
          <a href="{{link}}" target="_blank">view profile</a>
          <br>
          <br>
        </li>
      </ul>
    </div>
    <br>
  </mat-card>
</div>