<div class="simple-form-aligner">
  <mat-card class="simple-form-card">
      <mat-card-title style="text-align:center;">Profile</mat-card-title>
    <form [formGroup]="form" (ngSubmit)="submit(form.value)">
      <mat-card-content>
        <div class="form-group">
          <mat-form-field class="simple-form-field-50">
            <input matInput placeholder="Given name" name="givenName" formControlName="givenName">
            <mat-icon style="font-size:16px; margin-right: 30px;" matSuffix>create</mat-icon>
          </mat-form-field>
          <mat-form-field class="simple-form-field-50">
            <input matInput placeholder="Family name" name="familyName" formControlName="familyName">
            <mat-icon style="font-size:16px;" matSuffix>create</mat-icon>
          </mat-form-field>
          <br>
          <mat-form-field>
            <input matInput placeholder="Username" name="username" formControlName="username">
            <mat-icon style="font-size:16px;" matSuffix>create</mat-icon>
          </mat-form-field>
          <mat-form-field>
              <input matInput placeholder="Email" name="email" formControlName="email">
              <mat-icon style="font-size:16px;" matSuffix>create</mat-icon>
            </mat-form-field>
          <br>
        </div>
      </mat-card-content>
    </form>
  </mat-card>
</div>
