.successMessage{
  color: black;
}

.img-class{
  border-radius: 50%;
}

.profile-image{
  width: 152px;
  height: 152px;
  margin:auto;
  position: relative;
  margin-bottom: 10px;

  .app-image-upload-positioner {
    position: absolute;
    right: 17px;
    top: 98px;
    width: 152px;
    padding-left: 64px;
    padding-right: 64px;
  }
}

