<!-- <div *ngIf='!view' class="addAndView">
  <mat-card class="organization-card">
    <mat-card-title>Add New Organization</mat-card-title>
    <label routerLink='/create-organization'>
      <span>
          <mat-icon style="cursor:pointer">add_circle_outline</mat-icon>
      </span>
    </label>
  </mat-card>
  <mat-card class="organization-card">
    <mat-card-title>View Organization</mat-card-title>
    <label (click)='addNewOrg()'>
      <span>
          <mat-icon style="cursor:pointer">view_module</mat-icon>
      </span>
    </label>
  </mat-card>
</div> -->
<div *ngFor="let organisations of organisation" class="addAndView">
    <mat-card class="organization-card">
      <mat-card-title>{{organisations.organisationName}}</mat-card-title>
      <mat-card-content> 
            {{organisations.website}} <br>
            {{organisations.orgUsername}}
      </mat-card-content>
    </mat-card>
</div>