<div class="container">
    <button routerLink='/create-organization'
            mat-raised-button
            color="primary"
            style="height: 50px; margin: 10px;">
            <span style="display:inline-flex;"><mat-icon>add</mat-icon></span>
            New Organization
    </button><br>
    <div *ngFor="let organizations of organization" class="addAndView">
      <mat-card class="organization-card">
          <mat-card-title>{{organizations.name}}</mat-card-title><hr>
          <img width="250px" [src]="organizations.logo" alt='Profile Photo'>
          <mat-card-content>
            <br><span style="display:flex; margin-bottom: 7px;"><mat-icon style="font-size:22px;" matSuffix>language</mat-icon>{{organizations.website}}</span>
            <span style="display:flex; margin-bottom: 7px;"><mat-icon style="font-size:22px;" matSuffix>call</mat-icon> {{organizations.phoneNumber}}</span>
            <span style="display:flex;"><mat-icon style="font-size:22px;" matSuffix>contacts</mat-icon> {{organizations.username}}</span> <br>
            <button mat-raised-button (click)="test(organizations)" color="primary">Update</button>
          </mat-card-content>
        </mat-card>
    </div>
</div>