

<div *ngIf='isConnectionRequestLoaded'>
  <br>
  <mat-card-content>
    <div class="profile-image">
      <img mat-card-lg-image class="img-class" width="300" height="300"
        src='https://pbs.twimg.com/profile_images/984062643798343680/MDBh6zaW_400x400.jpg'>
    </div>
  </mat-card-content>
  <mat-card>Name:  {{requestConnection.givenName}} {{requestConnection.familyName}}</mat-card>
  <mat-card>Sent on: {{requestConnection.sendTimestamp}}</mat-card>
  <br>
  <div style="text-align:center">
      <button
          class="simple-form-button" 
          color="primary" 
          mat-raised-button 
          type="submit" 
          value="submit"
          (click)="confirmConnectionRequest()">
        Confirm
      </button>
      &nbsp;
      &nbsp;
      &nbsp;
      <button
          class="simple-form-button" 
          color="secondary" 
          mat-raised-button 
          type="submit" 
          value="submit"
          (click)="ignoreConnectionRequest()">
        Ignore
      </button>
      </div>
</div>
  